table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
    
}

td, th {
    border: 1px solid #dddddd;
    background-size: 100%;
    text-align: right;
    font-size: 22px;
    padding: 2px;
}

.table1{
    border: 0px;
    text-align: center;

}

tr:nth-child(even) {
    background-color: rgba(176, 196, 222, 0.37);
    
}


.td2{
    border: 0;
    text-align: left;
    padding: 8px;
}



  .div1 {
    background-color: #1468a8;
    border-radius: 50%;
    color: white;
    display: table;
    font-size: 1.6em;
    height: 100px;
    margin: 0 auto;
    width: 150px;
}
.p1 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    
}

.x1 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    
}

.x2{
    border: 0px solid #dddddd;
    background-size: 100%;
}

.textalign{
    text-align: justify;

}

