.teamBorderSize {
    min-width: 240px;
    max-width: 240px;
}

.teamImgSize {
    max-width: 150px;
    max-height: 140px;
}
.teamColors{
    background: #283e4a;
    color: white;
}

@media only screen and (min-width: 320px) {

}


.member {
    margin: 3%;
}

.member .h2 {
    font-size: 22px;
    margin: 20px 0 5px;
    font-weight: 400!important;
    color: #2853c3;
    transition: .2s color ease;
}

.member:hover .member-bio {
    opacity: 1
}

.member:hover h2 {
    color: #20bcff
}

.member-cover {
    position: relative;
    width: 60%
}
.member-photo {
    width: auto;
    max-width: 100%;
    height: auto!important
}
.member-linkedin,.member-apply {
    width: 40px;
    height: 40px;
    border-radius: 60px;
    background: #fff;
    /*display: block;*/
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: #0077b5!important;
    border: 0;
    transition: .3s all ease;
    position: absolute;
    left: 10px;
    bottom: -9px;
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.18);
}

.member-linkedin:hover,.member-apply:hover {
    -webkit-transform: translateY(-5%);
    transform: translateY(-5%);
    color: #20bcff!important
}

.member-apply {
    width: auto;
    height: 32px;
    padding: 0 32px;
    background: #2853c3;
    color: #fff!important;
    font-weight: 700;
    font-size: 14px
}

.member-apply i {
    margin-right: 6px;
    font-size: 12px;
    position: relative;
    top: 1px
}

.member-apply:hover {
    background: #20bcff;
    color: #fff!important
}

.member-jobtitle {
    margin-bottom: 10px;
    display: block;
    color: #434c55;
    font-family: cousine,Consolas,Monaco,andale mono,ubuntu mono,monospace;
    font-size: 14px;
    line-height: 1.5
}

.member-bio {
    font-size: 16px;
    color: #565e66;
    transition: .3s all ease;
    opacity: .8;
    max-width: 250px;
}
