

.whatsSTOpage {
    position: relative;
    background: url('https://user-images.githubusercontent.com/21117852/47595124-35cf0a80-d9b1-11e8-9e5b-a4fd3bd874fc.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: -24px;
    margin-bottom: -50px;
}


.card-form {
    opacity: 0.9;
}

.latest-profiles-img {
    width: 40px;
    height: 40px;
}

.form-control::placeholder {
    color: #bbb !important;
}

/*.remove-btn {*/
/*margin-right: 0.5rem;*/
/*}*/

/*.fade-enter {*/
/*opacity: 0.01;*/
/*}*/

/*.fade-enter-active {*/
/*opacity: 1;*/
/*transition: opacity 1000ms ease-in;*/
/*}*/

/*.fade-exit{*/
/*opacity: 1;*/
/*}*/

/*.fade-exit-active {*/
/*opacity: 0.01;*/
/*transition: opacity 1000ms ease-in;*/
/*}*/
