.iconDiv {
    max-width: 300px;
    margin: 2%;
}

.img {
    max-width: 100%;
    display: block;
    height: auto;
    text-align: center;
    margin: auto;
}


@media only screen and (min-width: 320px) {



    .landing {
        position: relative;
        background: url('https://user-images.githubusercontent.com/21117852/43917330-9ff70fcc-9c42-11e8-9971-51674beae527.png') no-repeat;
        background-size: cover;
        background-position: center;
        height: 240vh;
        margin-top: -24px;
        margin-bottom: -50px;
    }
}

@media only screen and (min-width: 500px) {

    .landing {
        position: relative;
        background: url('https://user-images.githubusercontent.com/21117852/43917330-9ff70fcc-9c42-11e8-9971-51674beae527.png') no-repeat;
        background-size: cover;
        background-position: center;
        height: 200vh;
        margin-top: -24px;
        margin-bottom: -50px;
    }
}

@media only screen and (min-width: 800px) {

    .landing {
        position: relative;
        background: url('https://user-images.githubusercontent.com/21117852/43917330-9ff70fcc-9c42-11e8-9971-51674beae527.png') no-repeat;
        background-size: cover;
        background-position: center;
        height: 110vh;
        margin-top: -24px;
        margin-bottom: -50px;
    }
}

@media only screen and (min-width: 1000px) {

    .landing {
        position: relative;
        background: url('https://user-images.githubusercontent.com/21117852/43917330-9ff70fcc-9c42-11e8-9971-51674beae527.png') no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        margin-top: -24px;
        margin-bottom: -50px;
    }
}

.landing-inner {
    padding-top: 20px;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
